<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="uk.ac.strath.contextualtriggers">
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION"/>
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED"/>
    <uses-permission android:name="com.google.android.gms.permission.ACTIVITY_RECOGNITION" />
    <uses-permission
        android:name="com.google.android.providers.gsf.permission.READ_GSERVICES"/>
    <uses-permission android:name="android.permission.INTERNET"/>

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <meta-data
            android:name="com.google.android.awareness.API_KEY"
            android:value="AIzaSyAas2dlnnxWlZMfX5-rAHVz1fLGwiyD-Cw"/>
        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="AIzaSyAas2dlnnxWlZMfX5-rAHVz1fLGwiyD-Cw" />
        <activity
            android:name=".MainApplication"
            android:launchMode="singleTop"
            android:label="@string/app_name">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <service android:enabled="true"
            android:name=".ContextualTriggersService">
        </service>
        <service android:enabled="true"
            android:name=".managers.SimulatedStepDataManager">
        </service>
        <service android:enabled="true"
            android:name=".managers.ActivityDataManager">
        </service>
        <service android:enabled="true"
            android:name=".managers.PlacesDataManager">
        </service>
        <service android:enabled="true"
            android:name=".managers.WeatherDataManager">
        </service>
        </application>

</manifest>
